@charset "UTF-8";

.container.my .snb_area+div {
    flex: 1;
}
.container.my .content_area {
    min-height: 380px;
    overflow: hidden;
}
.my-page-content {
    flex: 1;
}
.border {
    border: none !important;
}
.content_title.border {
    border-bottom: 3px solid #222 !important;
    padding-bottom: 16px;
}
.content_title {
    display: flex;
}
.title {
    font-size: 24px;
    letter-spacing: -.36px;
}
.title>h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    color: #000000;
}

.lg .user_profile, .md .user_profile {
    border-bottom: 1px solid #ebebeb;
}
.user_profile {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 38px 0;
}
.lg .profile_thumb, .md .profile_thumb {
    height: 90px;
    width: 90px;
}
.profile_thumb {
    border-radius: 100%;
    flex: none;
    height: 80px;
    margin-right: 12px;
    overflow: hidden;
    width: 80px;
}
.profile_thumb .thumb_img {
    height: 100%;
    width: 100%;
}
.profile_detail .name {
    color: #000;
    font-size: 18px;
    letter-spacing: -.27px;
    line-height: 1.2222222222;
}
.profile_btn_box {
    font-size: 0;
    margin-top: 12px;
}
.outlinegrey {
    border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
}
.small {
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}
.btn {
    align-items: center;
    background-color: #fff;
    color: rgba(34,34,34,.8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.profile_btn_box .btn+.btn {
    margin-left: 8px;
}

.profile_info {
    max-width: 480px;
    padding-top: 38px;
}
.profile_group:first-of-type {
    padding-top: 0;
}
.lg .profile_group, .md .profile_group {
    padding-top: 58px;
}
.profile_group {
    padding-top: 48px;
}
.group_title {
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: bold;
}
.unit {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 30px 0 12px;
    position: relative;
}
.title {
    color: rgba(34,34,34,.5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.07px;
}
.unit_content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.desc_modify {
    padding-right: 58px;
}
.desc {
    flex: 1;
    font-size: 16px;
    letter-spacing: -.16px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.btn_modify {
    position: absolute;
    right: 0;
}
.unit+.unit {
    padding-top: 23px;
}
.desc.placeholder {
    color: rgba(34,34,34,.5);
}
[role=button] {
    cursor: pointer;
}
.placeholder {
    cursor: auto; /* 또는 다른 원하는 커서 스타일로 설정 */
    background-color: transparent; /* 또는 다른 원하는 배경색으로 설정 */
    /* opacity: 1; */ /* 투명도를 100%로 설정하여 완전 불투명하게 만듭니다 */
}

.modify.name {
    padding-top: 25px;
}
.modify {
    padding-top: 23px;
}
.input_box {
    padding: 0;
    position: relative;
}
.input_title {
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}
.input_item {
    position: relative;
}
.profile_group .modify .input_txt {
    font-size: 15px;
    letter-spacing: -.15px;
    padding: 7px 0;
}
.profile_group .input_txt {
    font-size: 16px;
    letter-spacing: -.16px;
    padding: 7px 0 19px;
}
.input_txt {
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
    width: 100%;
}
.input_error {
    display: none;
}
.input_sub_text {
    color: rgba(34,34,34,.5);
    font-size: 11px;
    line-height: 16px;
    position: absolute;
}
.modify_btn_box {
    font-size: 0;
    padding-top: 28px;
    text-align: center;
}
.modify_btn_box .btn {
    padding: 0 38px;
}
.medium {
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
    letter-spacing: -.14px;
    padding: 0 18px;
}
.modify_btn_box .btn+.btn {
    margin-left: 8px;
}
.solid {
    background-color: #222;
    color: #fff;
    font-weight: 700;
}



.container.my {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 40px 40px 160px;
}


input, textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    resize: none;
}
img, video {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    border: 0;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
    -webkit-user-select: none;
    vertical-align: top;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
}
*, :after, :before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}